.No{
    width: 100%;
    display: flex;
    padding: 4rem;
    flex-direction: column;
    align-items: center;

    h2{
        padding: 1rem;
        width: 70%;
        text-align: center;
        font-weight: 600;
        font-family: cursive;

    }

    .con{
        width: 10rem;
        padding: 0.5rem;
        background-color: #febf00;
        border: 0;
        border-radius: 5px;
        font-weight: 500;
        font-family: cursive;
        transition: all ease 300ms;
    
    }
    .con:hover{
            
        background-color: black;
        color: white;
    
    }
}