.Mainsection{
    background-color:#fbfbfb;
    height: auto;
    width: 100%;
    display: flex;
    padding: 1rem;
    justify-content:space-around;
    border-bottom: 1px solid rgba(144, 143, 143, 0.546);

  

    .sectionOne{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
       .Logo{
           width: 10rem;
        }
        .lists__{
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            
            ul{
                display: flex;
                align-items: center;
                padding: 1rem;
            }
            ul li {
                
                font-size: 1.3rem;
                padding: 0.5rem;
                text-align: start;
                list-style: none;
                cursor: pointer;
                transition: all ease 400ms;
            }
            ul li:hover{
                color: #f5bb0bce;
            }
            
        }
        
  

    }

    .second__{
        display: flex;
        flex-direction: column;
        justify-content: center;

        .lists_about{
            display: flex;
    flex-direction: column;
    align-items: center;

            h4{
                font-size: 1.3rem;

            }
            ul li {
               list-style: circle;
               padding: 4px;
               cursor: pointer;
            }

            ul li:hover{
                color: #f5bb0bce;
            }
        }
    }

    .third__{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .lists_contact{
            display: flex;
            flex-direction: column;
            align-items: center;
            h4{
                font-size: 1.3rem;

            }
            ul li {
                cursor: pointer;
               list-style: circle;
               padding: 4px;
            }
            ul li:hover{
                color: #f5bb0bce;
            }
        }

    }



    
}

.end-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 5rem;
    background-color:#fbfbfb;
    width: 100%;
    h6{
        font-size: 0.9rem;
    }
    .credits{
        display: flex;
        width: 10rem;
        display: flex;
        width: 10rem;
        align-items: center;
        justify-content: space-around;
    
    
    
        img{
            width: 2rem;
           
          
        }
    }
}


// @media only screen and (max-width: 425px){

// }