
.checkOut-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    align-content: center;
    gap: 3rem;
    .checkOut-inputs{
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        input{
            padding: 0.4rem;

        }
        h3{
            font-family: cursive;
            font-weight: 600;
            text-align: center;
        }
    }

    .last-cart{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .checkout-total{
        display: flex;
    flex-direction: column;
    padding: 0.5rem;
    h5{
        font-size: 18px;
        font-family: cursive;
        font-weight: 600;
    }
   
    span{
        padding-left: 1rem;
        font-size: 13px;
    }
       
    }

}

