// @import url("https://fonts.googleapis.com/css2?family=Gantari:wght@100;200;300;400;500;600;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400;600&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // font-family: "Archivo", sans-serif;
  // font-family: 'Montserrat', sans-serif;
  // font-family: 'Raleway', sans-serif;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
span,
ul {
  margin: 0;
}

body {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  #root,
  .App {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    // @media screen and (max-width: 767px) {
    //   padding: 0 1rem;
    // }
  }
}

@media screen and (max-width: 220px) {

  
  /* font at xs */
  html {
    font-size: 10px !important;
  }

  // homepage xs start 
  .mainheader{
    justify-content: center !important;
    gap: 1.4rem;

    .cart__  .qut__{
      position: absolute;
      left: 11 !important;
      bottom: 9 !important;
    }
    
    img{
    width: 5.5rem !important;
    height: 2rem !important;
    }
    .btn{
      width: 3rem !important;
    height: 3rem !important;
    border-radius: 50%;
    margin: 0 !important;
    }
  }
  .firstsection{
   background-position: 24% !important;
   .text {
    width: auto !important;
    height: auto !important;
    margin: 0.9rem;
    h2{
      font-size: 2.5rem !important;
    }
    p{
      font-size: 1rem !important;
    }
   }
  }
  .HeadSection {
    text-align: center;
    padding: 1.5rem;
    h3{
      font-size: 1.5rem !important;
    }
    
}
.main-section{
  flex-direction: column !important;
}
.The-main {
  display: none !important;
}
.BigSection{

display: none !important;

}
.Popular-Products{
  display: none;

}
.disc{
  .layer{
    h2{
      font-size: 1.9rem !important;
    }
    h3{
      font-size: 1.4rem !important;
      font-weight: 300 !important;
    }
  }
 
}

 .offer-expires {
  flex-direction: column !important;
  align-items: center !important;
 
 }
 .head{
  font-size: 1.8rem !important;
  font-weight: 400 !important;
 }
 .customer-div{
  flex-direction: column;
 }
 .end-bar{
  flex-direction: column;
 }

 // homepage xs end

//  about start
.TheSecond{
  height: 45vh !important;
  flex-direction: column !important;
  align-items:center !important;
  // display: none !important;
  .the-left {
    h3{
      font-size: 1.2rem !important;
     
    }
    
    p{
      display: none !important;
    }
    h6{
      display: none !important;
    }
  }
  .the-right {
    img{
      width: 18rem;
    }
  }
}
.third-section{
  display: none !important; 
}
 
 .fourth .last{
  flex-direction: column !important;
 }
 .fourth .thefive .all-imges{
  flex-direction: column !important;
 }
 .small-imgs{
  align-items: center !important;
 }
 .big-img {
  img{
    width: 18rem !important;
  }

 } 
 .fourth .fourth-head{
  h2{
    font-size: 1.2rem !important;
    font-weight: 400 !important;
  }
  p{
    display: none !important;
  }
 }

 .fourth .fourth-end{
  flex-direction: column !important;
  .end-one{
    width: 100% !important;
  }

 }
//  about end 

// contact start 
.main-contact{
  flex-direction: column !important;
  gap: 1.1rem;

}
// contact end
}

@media screen and (min-width: 221px) and  (max-width: 400px) {
  /* font at sm */
  html {
    font-size: 12px !important;
  }
  // .mainheader{

  // }
  .Popular-Products{
    display: none !important;
  }
  .customer-div{
    flex-direction: column !important;
  }
  .disc{
    .layer{

      h2{
        font-size: 1.9rem !important;
        margin: 2px;

      }
      h3{
        font-size: 1.4rem !important;
        font-weight: 300 !important;
        margin: 2px;
      }
    }
   
  }
  .offer-expires {
    flex-direction: column !important;
    align-items: center !important;
   
   }
   .BigSection {
    display: none !important;
   }
   .text {
    width: auto !important;
    height: auto !important;
    margin: 0.9rem;
  }
  .main-section{
    flex-direction: column !important;
  }
  .end-div{
    display: none !important;
  }
  .The-main {
    height: 45vh !important;
    .right-div{
      flex-direction: row !important;
    }
    h2{
      font-size: 2rem !important;
      font-weight: 500 !important;
      padding-top: 8rem !important;
    }
    ul{
      display: none !important;
    }
  }
  .main-contact{
    flex-direction: column !important;
    align-items: center !important;
    gap: 1.2rem;
  }
  .end-bar{
    flex-direction: column !important;
  }

}
@media screen and (min-width: 401px) and (max-width: 768px) {
  /* font at md */
  html {
    font-size: 14px !important;
  }
  .mainheader{
    background-color: aqua !important;
  }
  .text {
    width: auto !important;
    height: auto !important;
    margin: 0.9rem;
  }
  .main-section {
    flex-direction: column !important;
  }
  .The-main .right-div {
    ul{
      display: none !important;
    }
    .last {
      display: none !important;
    }
  }
  .Mainsection{
    flex-direction: column !important;
  }
}



@media screen and (min-width: 1200px) {
  /* font at lg */
  html {
    font-size: 16px !important;
  }
}
