.content{
    display: flex;
    flex-direction: column;
    padding: 8rem;
    gap: 2rem;

    .cont__{
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        h3{
            font-size: 1.5rem;
            background-color:#febf00;
            border-radius: 0.2rem;
            padding: 0.5rem;
            transition: all ease 300ms;
            font-family: cursive;
           
        }
        h3:hover{
            background-color: black;
            color: white;

        }
    
        p{
            padding: 1rem;
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        
        }
    }
}